<!-- <DockLayout stretchLastChild="false" class="p-15">
    <GridLayout rows="auto , auto, auto, auto" dock="top">
        <StackLayout row="0">
            <Label marginBottom="50" text=""></Label>
            <Image marginBottom="50" height="50" src="~/assets/images/mars-logo.png"></Image>
        </StackLayout>
        <StackLayout row="1">
            <TextField required hint="fill this out..." [(ngModel)]="textField" #element #elementModel="ngModel" minLength="6"></TextField>
            <Label class="validation" [visibility]="elementModel.valid ? 'collapse' : 'visible'" text="Field is required" ></Label>
        </StackLayout>
        <StackLayout row="2" marginBottom="15">
            <TextField class="custom_field password" [(ngModel)]="input.password" secure="true" hint="Enter your password" ></TextField>
        </StackLayout>
        <StackLayout row="3"> 
            <button text="LOG IN" class="submit_button" (tap)="login()"></button>
            <Label width="200" textAlignment="center" marginTop="10" verticalAlignment="center" color="#a9a9a9" fontSize="17" text="Forgot your password?" [nsRouterLink]="['/resetPassword']"></Label>
        </StackLayout>
    </GridLayout>
    <FlexboxLayout flexDirection="row" justifyContent="center" dock="bottom">
        <Label color="#a9a9a9" fontSize="17" text="Don't have your account?"></Label>
        <Label text="SIGNUP" color="#696969" marginLeft="5" textAlignment="left" fontWeight="bold" fontSize="17" [nsRouterLink]="['/signup']"></Label>
    </FlexboxLayout> 
</DockLayout>    -->
    
<StackLayout [formGroup]="signUpForm">
    <TextField formControlName="email" hint="Email" keyboardType="email"></TextField>
    <TextField formControlName="username" hint="Username"></TextField>
    <Button [isEnabled]="button" text="sign up" (tap)="onButtonTap()"></Button>
</StackLayout>