<ActionBar title="Register to Mars Translation" class="action-bar">
</ActionBar>
<DockLayout stretchLastChild="false" class="p-15">
    <GridLayout rows="auto, 60, 60, 60, 60, auto" colums="*, auto" dock="top">
        <Label row="0" text="Enter your details below." fontWeight="bold" class="h3 p-b-10"></Label>
        <!-- <Label row="1" col="0" verticalAlignment="bottom" fontSize="18" text="Translator" textWrap="true"></Label>
        <Switch row="1" col="1" width="50" checked="false" (tap)="onFirstChecked($event)"></Switch>
        <Label row="2" col="0" verticalAlignment="center" fontSize="18" text="Client" textWrap="true"></Label>
        <Switch row="2" col="1" width="50" checked="true" (tap)="onSecondChecked($event)"></Switch> -->
        <TextField class="input_border-color" row="1" [(ngModel)]="nameValue" hint="Enter full Name"></TextField>
        <TextField class="input_border-color" row="2" [(ngModel)]="emailValue" hint="Enter email address"></TextField>
        <TextField class="input_border-color" row="3" [(ngModel)]="phoneValue" hint="Enter phone number"></TextField>
        <TextField class="input_border-color" row="4" [(ngModel)]="passwordValue" hint="Enter password"></TextField>
        <button  row="5" height="60" text="REGISTER" fontWeight="bold" fontSize="18" color="#fff" class="m-t-20" [nsRouterLink]="['/login']"></button>
    </GridLayout>
    <FlexboxLayout dock="bottom" flexDirection="row" justifyContent="center">
        <Label color="#a9a9a9" fontSize="17" text="Already a member?"></Label>
        <Label text="LOGIN HERE" color="#696969" marginLeft="5" textAlignment="left" fontWeight="bold" fontSize="17" [nsRouterLink]="['/login']"></Label>
    </FlexboxLayout> 
</DockLayout>